@tailwind base;
@tailwind components;
@tailwind utilities;

.fontfam
{
    font-family: 'Playfair Display', serif;

}
.navy-blue{
    background-color: #1A1A40;
}

.gold{ 
    background-color: #F76B1C;
}

.orange{
    background-color: #F69838;
}
.charcoal-gray{ 
    background-color: #4B4B4B;
}

.ivory{ 
    background-color: #FFFFF0;
}

.deep-burgundy{ 
    background-color: #800020;
}

.slate-gray{ 
    background-color: #708090;
}